<form method="post" action="/register">
	<p><label>Email: <input type="email" name="mammoccio[email]" /></label></p>
	<p><label>Password: <input type="password" name="mammoccio[password]" /></label></p>
	<input type="submit" name="submit" value="Sign up" />
</form>